.component_division {
  width: 100%;
  display: block;
  margin: 0;
  height: 10px;
  background-color: #ececee;
  border: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 15px;
  letter-spacing: -0.5px;
  font-weight: 300;
  color: #000;
}

.arrow {
  margin-left: 6px;
  display: block;
  width: 6px;
  height: 6px;
}
.arrow.bottom {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translateY(-2px) rotate(45deg);
}
.arrow.right {
  border-top:1px solid #000;
  border-right:1px solid #000; 
  transform:rotate(45deg);
}