.news_wrap > li:not(:last-child) {
  border-bottom:1px solid #ededed;
}
.news_wrap > li:first-child > a {
  padding-top:0;
}
.news_wrap > li > a {
  display:flex;
  align-items: center;
  padding:10px 0;
}

.news_wrap .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  margin: 0 0 4px 0;
}

.news_wrap .text_wrap .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  margin: 0 0 4px 0;
}
.news_wrap .text_wrap .info .media {
  display: block;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #838383;
    position: relative;
}
.news_wrap .text_wrap .text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #838383;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
}
.rank > li > a .num_wrap {
  position:relative;
  margin-right: 10px;
}
.rank > li > a .num_wrap .num {
  font-family: "Arial", Malgun Gothic, Dotum, Helvetica, sans-serif;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-position: center;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  position:absolute;
  top:0;
  left:0;
}