.component_wrap {
  padding:20px;
  box-sizing:border-box;
  background-color:#fff;
}
.component_wrap.bg_sky {
  background-color:#f3f6fa;
}

.component_division {
  width: 100%;
  display: block;
  margin: 0;
  height: 10px;
  background-color: #ececee;
  border: 0;
}

.border_container {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05);
  position: relative;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #e6e5e5;
}
