
.slide_container {
  overflow: hidden;
  position: relative;
  padding: 2px 0 0 0;
  margin: -2px 0 0 0;
}
.bullet_wrap {
  position: static;
  max-width: 120px;
  display: flex;
  margin: 24px auto 0 auto;
}
.bullet {
  border-radius: 0;
  margin: 0;
  height: 2px;
  width: 60px;
  opacity: 1;
  background-color: #cecece;
}
.bullet_active {
  background-color: #00b3b8;
}
.mal_slide {
  background: linear-gradient(90deg, #278d8f 10%, #efbcc7 100%);
  border-radius: 8px;
  padding: 0 14px;
  box-sizing: border-box;
  position: relative;
}
.mal_slide > a {
  display: flex;
  height: 100%;
  height: 150px;
  align-items: center;
  position: relative;
}
.svg_profile_wrap {
  flex: none;
  margin-right: 14px;
  z-index: 1;
  width: 86px;
  height: 86px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 38%;
}
.mal_text {
  text-shadow: 0 0 4px rgba(0,0,0,0.25);
}
.mal_text dt {
  font-family: "S-Core-Dream-5", Malgun Gothic, Dotum, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 5px;
}
.mal_text dt span {
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #fff;
  margin: 0 5px 0 5px;
  transform: translateY(1px);
}
.mal_text dd {
  font-size: 14px;
  font-family: "S-Core-Dream-3", Malgun Gothic, Dotum, Helvetica, sans-serif;
  color: #fff;
  letter-spacing: -1.5px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
}

.mal_flag {
  position:absolute;
  top:0;
  right:0;
}

.news_wrap.list > li > a {
  display:flex;
  align-items: center;
  padding:10px 0;
}
.news_wrap.list > li > a .text_wrap {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_wrap.list > li:not(:last-child){
  border-bottom:1px solid #ededed;
}

.news_wrap .text_wrap .title {
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.news_wrap .text_wrap .info .media {
  display: block;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #838383;
    position: relative;
}
.news_wrap .text_wrap .text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #838383;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
}
.photo_slide {
  margin:0 -20px;
  padding:0 20px;
}

.ranking > li:not(:last-child) {
  border-bottom:1px solid #ededed;
}
.ranking > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 41px;
  font-size: 16px;
  letter-spacing: -0.5px;
}
.ranking > li > a .num {
  display:block;
  position:relative;
  width:22px;
  height:22px;
  text-align:center;
  margin-right:10px;
  font-weight:700;
  color:#fff;
  font-size:12px;
  text-indent: -3px;
  transform:translateY(1px);
  line-height:1;
}
.ranking > li > a .num > img {
  display:block;
}
.ranking > li > a .num > span {
  display:block;
  text-align:center;
  position:absolute;
  width:22px;
  top:4px;
  left:1px;
}
.ranking > li > a > h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #000;
}
.slide_news_page {
  width:280px;
  margin:0 auto;
}
.slide_news_page .page > a {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}
.slide_news_page .page > a .key {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: -1px;
  position:absolute;
  top: 8px;
  left: 8px;
}
.slide_news_page .page > a .value {
  font-family: "Arial", Malgun Gothic, Dotum, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  position:absolute;
  bottom: 8px;
  right: 8px;
}



.news_page_prev, .news_page_next {
  display: block;
  position: absolute;
  width: 20px;
  height: 64px;
  background-color: #fff;
  border-radius: 20px;
  top: 15px;
}
.news_page_prev::after, .news_page_next::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #000;
  position: absolute;
  top: 28px;
}
.news_page_prev {
  left:20px;
}
.news_page_prev::after {
  left: 8px;
  border-left: 1px solid #000;
  transform: rotate(-45deg);
}
.news_page_next {
  right:20px;
}
.news_page_next::after {
  right: 8px;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}
.news_page_prev.disabled::after, .news_page_next.disabled::after {
  border-color:#ccc;
}
